{;; PostgreSQL database options
 :postgresql {:jdbcUrl "jdbc:postgresql://localhost/lipo"}
 :lmdb-dir ".lmdb" ; locally store index under project root folder
 :lucene-dir ".lucene" ; directory to store full text search indexes

 ;; you can set this to enable editing if you don't have oauth/cognito set up:
 ;; :fake-user "Emil Editor"

 ;; Port to serve
 :port 3000}
