{:date {:date-time-pattern "dd.MM.yyyy HH:mm"}
 :buttons {:edit "Edit"
           :save "Save"
           :cancel "Cancel"
           :delete "Delete"
           :create-sub-page "Create sub page"}
 :alert-title {:info "Info"
               :warning "Warning"
               :success "Success"
               :error "Error"}
 :fields
 {:meta/created "Created at"
  :meta/creator "Created by"
  :meta/modified "Modified at"
  :meta/modifier "Modified by"
  :content/path "Path"
  :content/type "Type"
  :content/title "Title"
  :content/excerpt "Excerpt"
  :content/body "Body"
  :file/name "File name"
  :file/size "Size"
  :file/content-type "Type"}

 :search {:placeholder "Search content..."
          :no-results "No results found"}

 :attachments {:add-link "Add link"}}
