{:date {:date-time-pattern "dd.MM.yyyy HH:mm"}
 :buttons {:edit "Muokkaa"
           :save "Tallenna"
           :cancel "Peruuta"
           :delete "Poista"
           :create-sub-page "Luo uusi alisivu"}
 :alert-title {:info "Info"
               :warning "Varoitus"
               :success "Onnistui"
               :error "Virhe"}
 :errors {:news-portlet-error "Virheellinen portlet määritelmä: "
          :save-failed "Lomakkeen tallentaminen epäonnistui"}
 :messages {:save-successful "Sisältö tallennettu"}
 :fields
 {:meta/created "Luotu"
  :meta/creator "Luonut"
  :meta/modified "Muokattu"
  :meta/modifier "Muokannut"
  :content/path "Polku"
  :content/type "Tyyppi"
  :content/title "Otsikko"
  :content/excerpt "Ote"
  :content/body "Sisältö"
  :file/name "Tiedoston nimi"
  :file/size "Koko"
  :file/content-type "Tiedostotyyppi"}

 :search {:placeholder "Hae sisältöä..."
          :no-results "Ei tuloksia"}
 :attachments {:add-link "Lisää linkki" :confirm-delete "Poistetaanko tiedosto pysyvästi?"}
 :user-menu {:login "Kirjaudu sisään"}
 :comments {:no-comments "Ei kommentteja vielä."
            :one-comment "1 kommentti."
            :many-comments [:count " kommenttia."]
            :placeholder "Kirjoita kommenttisi..."
            :add-new "Lisää kommentti"
            :post-comment "Tallenna kommentti"}}
