@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation {
    @apply flex justify-center flex-wrap py-4 lg:px-12 border-solid border-b border-t-4 border-primary sticky top-0 w-full bg-white;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-base;
}

.ck-content ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ck-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
