<div class="attachments inline-block min-w-full shadow rounded-lg overflow-hidden">
  <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          {{:fields :file/name}}
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          {{:fields :file/size}}
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          {{:fields :meta/created}}
        </th>
        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          <!-- some actions here? -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">
            <a href="download-link">
              <span data-field="file/name"/>
            </a>
          </p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">
            <div data-field="file/size"/>
          </p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <p class="text-gray-900 whitespace-no-wrap">
            <div data-field="meta/created"/>
          </p>
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          <button class="secondary" onclick="addLinkToAttachment(window.event)">
            <span class="oi" data-glyph="link-intact"></span>
            {{:attachments :add-link}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <script>
    window.uploadAttachment = () => {
        document.querySelector("#upload").style.display="none";
        document.querySelector("#uploadindicator").style.display="block";
        fetch("/_upload", {
            body: new FormData(document.querySelector("#upload")),
            method: "POST"
        }).then((res) => {
            let upload = document.querySelector("#upload");
            upload.reset();
            upload.style.display="";
            document.querySelector("#uploadindicator").style.display="none";
        });
     
    };

    window.addLinkToAttachment = (event) => {
        const row = event.target.parentNode.parentNode;
        const link = row.querySelector("a");
        const url = link.getAttribute("href");
        const label = link.innerText;
        const range = E.model.insertContent(E.model.change(w => w.createText(label)));
        E.model.change(w => { w.setSelection(range); E.execute("link", url) });
    }
  </script>
  <form id="upload">
    <input type="hidden" name="content-id" value=""/>
    <input type="file" name="upload"
           onchange="uploadAttachment()"/>
  </form>

  <div id="uploadindicator" style="display: none;">
    <svg id="uploadindicator" class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <circle class="opacity-25"
              cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/>
      <path class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/>
    </svg>
  </div>
</div>
