<!DOCTYPE html>
<html lang="fi" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
    <link rel="stylesheet" href="/cke-styles.css">
    <link rel="stylesheet" href="/defaults.csss">
    <script src="/ckeditor.js"></script>
    <title>Lipo</title>
  </head>

  <body class="relative h-full">
    <span id="lipo-content">
      <!-- Responsive navbar with search -->
      <nav class="navigation">
        <div class="max-w-screen-2xl w-full flex items-center flex-wrap">
          <div
            class="flex justify-between lg:w-auto w-full lg:border-b-0 pl-6 pr-2 border-solid border-b-2 border-gray-300 pb-5 lg:pb-0">
            <a href="/">
              <img src="/lipo-logo.png" alt="Lipo logo">
            </a>
            <div class="block lg:hidden ">
              <button
                id="nav"
                class="flex items-center px-3 py-2 border-2 rounded text-blue-700 border-blue-700 hover:text-blue-700 hover:border-blue-700">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <title>
                    Menu
                  </title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
              </button>
            </div>
          </div>


          <div class="menu w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto lg:px-3 px-8">
            <div class="text-md font-bold text-blue-700 lg:flex-grow">
              <div data-portlet="{:portlet/type :menu}"></div>
            </div>
          </div>

          <div data-portlet="{:portlet/type :search}"></div>
        </div>
      </nav>

      <div class="flex-grow mt-4 flex justify-center" id="main-content">
        <div class="max-w-screen-2xl flex flex-grow">
          <div class="content-page flex w-100 flex-grow">
            <div class="page-tree border-r-2 border-gray-800 w-1/4"
                 data-portlet-slot="left">
              left side portlets
            </div>
            <div class="page-content p-4"
                 data-portlet-slot="content">
              main content portlets
            </div>
          </div>
        </div>
      </div>
    </span> <!-- end of #lipo-content -->

    <div id="flash-message" class="fixed bottom-0 w-full flex justify-center">
      <div data-tpl="flash-message-error"
           class="alert flex flex-row items-center bg-red-200 p-5 rounded border-b-2 border-red-300">
        <div
          class="alert-icon flex items-center bg-red-100 border-2 border-red-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
	  <span class="text-red-500">
            <svg fill="currentColor"
                 viewBox="0 0 20 20"
                 class="h-6 w-6">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
          </span>
        </div>
        <div class="alert-content ml-4">
          <div class="alert-title font-semibold text-lg text-red-800">
            Error
          </div>
          <div class="alert-description text-sm text-red-600">
            This is an alert message, alert message goes here..!
          </div>
        </div>
      </div>

      <div data-tpl="flash-message-success"
           class="alert flex flex-row items-center bg-green-200 p-5 rounded border-b-2 border-green-300">
        <div
          class="alert-icon flex items-center bg-green-100 border-2 border-green-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
          <span class="text-green-500">
            <svg fill="currentColor"
                 viewBox="0 0 20 20"
                 class="h-6 w-6">
              <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
          </span>
        </div>
        <div class="alert-content ml-4">
          <div class="alert-title font-semibold text-lg text-green-800">
            {{:alert-title :success}}
          </div>
          <div class="alert-description text-sm text-green-600">
            This is an alert message, alert message goes here..!
          </div>
        </div>
      </div>

      <div data-tpl="flash-message-warning"
           class="alert flex flex-row items-center bg-yellow-200 p-5 rounded border-b-2 border-yellow-300">
        <div
          class="alert-icon flex items-center bg-yellow-100 border-2 border-yellow-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
          <span class="text-yellow-500">
            <svg fill="currentColor"
                 viewBox="0 0 20 20"
                 class="h-6 w-6">
              <path fill-rule="evenodd"
                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd"></path>
            </svg>
          </span>
        </div>
        <div class="alert-content ml-4">
          <div class="alert-title font-semibold text-lg text-yellow-800">
            {{:alert-title :warning}}
          </div>
          <div class="alert-description text-sm text-yellow-600">
            This is an alert message, alert message goes here..!
          </div>
        </div>
      </div>

      <div data-tpl="flash-message-info"
           class="alert flex flex-row items-center bg-blue-200 p-5 rounded border-b-2 border-blue-300">
        <div
          class="alert-icon flex items-center bg-blue-100 border-2 border-blue-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
          <span class="text-blue-500">
            <svg fill="currentColor"
                 viewBox="0 0 20 20"
                 class="h-6 w-6">
              <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                    clip-rule="evenodd"></path>
            </svg>
          </span>
        </div>
        <div class="alert-content ml-4">
          <div class="alert-title font-semibold text-lg text-blue-800">
            {{:alert-title :info}}
          </div>
          <div class="alert-description text-sm text-blue-600">
            This is an alert message, alert message goes here..!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
